*{
    margin: 0;
}

body{
    background-image: url(https://img.freepik.com/premium-photo/gray-calathea-lutea-leaf-patterned-background_53876-149681.jpg?w=2000);
    background-repeat: no-repeat;
    background-size:cover;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: #393a3a;
}
#hd1{
    margin: 50px;
    font-size: 40px;
    font-weight: 900;
    color: #353837;
}

#row{
    display: flex;  
    /* margin: auto;*/ 
    /* flex-wrap: wrap;   */
    width: fit-content; 
    justify-content: space-around;
    align-items: center; 
}
    
.post{
    float: left;
    position: relative;
    background-size: contain;
    margin-left: 90px;
    margin-bottom: 20px;
    width: fit-content;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#hd3{
    padding-left: 50px;
}
#p0{
    padding-left: 20px;
}
#p1{
    padding-left: 130px;
    color: #5e6462;
}

#blog .post .post-image {
    overflow: hidden; 
    cursor: pointer; 

}
#blog .post:hover img{
    transform: scale(1.1) rotate(-10deg);
    opacity: 0.8;
}
#blog .post h3{
    transition: 0.3s ease;
    cursor: pointer;

}
#blog .post:hover{
    color: #fd8c66;
}
#imga1{
    padding-bottom: 40px;
}
/*
#pd1{
    padding-left: 55px;
    width: 20%;
    font-weight: 200;
    font-family:'Times New Roman', Times, serif;
} */


