body{
    background-image: url(https://img.freepik.com/premium-photo/gray-calathea-lutea-leaf-patterned-background_53876-149681.jpg?w=2000);
    background-repeat: no-repeat;
    background-size:cover;
}
#hed{

    font-size: 40px;
    font-weight: 900;
    font-family:'Times New Roman', Times, serif;
    
}
#p1{
    font-size: 24px;
    font-weight: 300;
    color: #088178;
}   
#s1{
    text-align: center;
    padding-top: 60px;
}
    

#hr1{
    width: 13%;
}
#d2{
    margin-top: 10px ;
}
#b{
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
    transition-duration: 0.4s;
    background-color: #77beba;
    width: 200px;
    height: 40px;
    margin: 20px;
    font-size: 15px;
    font-weight: 600;
    border-width: 1px;
}
#l1{
    font-weight: 700;
    font-size: 16px;
}
#b:hover{
    color: white;
}
#p1{
    font-weight: 800;
}
#a1{
    font-weight: 600;
}
/* Import Font Dancing Script */
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

* {
    margin: 0;
}

body {
    /* background-color: #e8f5ff; */
    font-family: Arial;
    /* overflow: hidden;    */
}

.ulnav{
    list-style-type: none;
    margin: 0;
}
.dropdown {
  position: relative;
  display: inline-block;
  position: relative; right: 100px; top: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #99bdb2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.filter-list{
    list-style-type: none;
    padding-bottom: 20px;
    padding-top: 10px;
    position: relative; left: 20px;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#ard-btn{
    cursor: pointer;
    border: 0px;
    background-color: transparent;
}
#filter{
    background-color: #d5e2e2;
    scroll-behavior: smooth;
    width: 200px;
    height: 782px;
    position: absolute;
    margin-top: 90px;
    top: 0;
}
#nav{
    position: static;
}
h4{
    margin: 20px;
}
.filter-list{
    padding: 0%;
}
.filter-list li{
    padding: 5px;
}
.gen-li{
    display: none;
}
.type-li{
    display: none;
}
.size-li{
    display: none;
}
#last{
  size: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:10px 30px ;
  background: #d5e2e2;
  z-index: 500;
  display: flex;
    list-style: none;
    padding-right: 250px;
    justify-content:center;
    margin: 0;
    position: relative;
}
#last li{
  padding: 0 200px;
    position: relative;
    
    border-right: 1px dotted rgb(0, 0, 0) ;
}
#last li p{
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: black;
  transition: 0.2s ease;
  position: relative;
}

#pr1{
    background-color: #fff;
    float: right;
    padding: px;
    margin-bottom: 20px;
    position: absolute; bottom: 500px; right: 1000px;
    width: 150px;
    height: 50px;
    border-width: 80px;
background-color: #d5e2e2;
}
#pr3{
    background-color: #fff;
    float: right;
    padding: px;
    margin-bottom: 20px;
    position: absolute; bottom: 500px; right: 560px;
    width: 150px;
    height: 50px;
    border-width: 80px;
background-color: #d5e2e2;
}
#pr4{
    background-color: #fff;
    float: right;
    padding: px;
    margin-bottom: 20px;
    position: absolute; bottom: 500px; right: 340px;
    width: 150px;
    height: 50px;
    border-width: 80px;
background-color: #d5e2e2;
}
#pr5{
    background-color: #fff;
    float: right;
    padding: px;
    margin-bottom: 20px;
    position: absolute; bottom: 500px; right: 120px;
    width: 150px;
    height: 50px;
    border-width: 80px;
background-color: #d5e2e2;
}
.prod:hover{
animation: myAnim 1s ease 0s 1 normal forwards;
}
.prod{
    position: absolute;
}
.prod a{
background-color: #d5e2e2;
}
.prod a  img{
    width: 200px;
    height: 200px;
}
@keyframes myAnim {
	0% {
		transform: scale(1);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
        z-index: 1;
}

	100% {
		transform: scale(1.5);
		-webkit-transform: scale(1.5);
		-moz-transform: scale(1.5);
		-ms-transform: scale(1.5);
		-o-transform: scale(1.5);
        z-index: 1;
}
}
.link{
    background-color: #d5e2e2;
}
.inf{
    background-color: #d5e2e2;
    width: 200px;
}.inf h4{
    position: relative; left: 50px;
}
.inf h2{
    position: relative; left: 28px;
    border: 0px;
    margin: 0px;
}
.price-range{
    display: none;
}
#filter h2{
    margin-top: 10px;
    position: relative; left: 60px;
}
#pr2{
       background-color: #fff;
    float: right;
    padding: px;
    margin-bottom: 20px;
    position: absolute; bottom: 500px; right: 780px;
    width: 150px;
    height: 50px;
    border-width: 80px;
background-color: #d5e2e2;
}#pr2 a img{
    width: 200px;
    height: 200px;
}#pr2 a{
    background-color: #d5e2e2;
}
#products{
    margin-top: 20px;
    padding: 250px;
    margin-bottom: 275px;
    padding-left: -100px;
}
.pricetxt{
    font-size: 10px;
    width: 70px;
    height: 20px;
    color: black;
}
/* ------------------------------------------------------el product-------------------------------------------------------------- */
#Small-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 200;
    margin: auto;
    position: absolute;
    left: 200px;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 150;
  }
  #po #p3{
    font-size: 30px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
  }
  
  #sec2 #po{
    background-color: white;
    position: relative;
    z-index: 300;
   
    width:fit-content;
    padding: 40px 20px;
    text-align: left;
  
    box-shadow: 0px 0px 20px 0px  rgba(0, 0, 0, 0.5);
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.5s;
    
  }
  #sec2 button input{
    width: 40px;
  }
  #sec2 #button1 {
    position: relative;
    
  }
  #sec2 #button2 {
    position: absolute;
    bottom: 200px;
    left: 400px;
    
    
  }
   
  #sec2 #po:hover{
    transform: translateY(-10px);
    
  }
  #sec2 button:hover{
    transform: translateY(-10px);
    
  }
  
  #sec2 a{
    
    width:100%;
    position: relative;
    
   
    
  }

/* -------------------------------------------------------------------------------------------------------------------- */