/*----------------------------------------------------------nav--------------------------------------------------------------------------------------------------------*/
#nav{
    size: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background: #99bdb2;
    box-shadow: 0 5px 15px rgba(61, 60, 55, 0.836);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 500;
    
}
#navbar{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content:center;
    margin: 0;
    position: relative;
    
}
#navbar li{
    padding: 0 20px;
    position: relative;
    margin: 0;
    border-right: 1px dotted white ;
}
#navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
    transition: 0.2s ease;
    position: relative;
}
#navbar li a:hover,
#navbar li a.active{
    color:#088178;
    background: #fcfcfc;
    border-radius: 8px;
}
 #navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    position: absolute;
    background: #088178;
    height: 2px;
    bottom: -4px;
    left: 20px;
} 
 #navbar input[type=text]{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

ul li ul {
    
      width: fit-content;
  background-color: #99bdb2;
  background-size: contain;
  
  display: none;
  
}
ul li ul li{
  list-style-type: none;
  border-bottom: 1px dotted white ;
  height: 40px;
  font-size: 10px;
 
}
 ul li ul li #a2{
    width: 100px;
    text-align: left;
    
  } 


ul li:hover ul{
  display: block;
  position: absolute;
 
  
}
#sub-menu {
  z-index: 300;
}
#img1{
  width: 120px;
  height: 60px;
}
#img2{
    
  width: 40px;
  height: 40px;
}
#bar{
    width: 200px;
    height: 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-right: 0px;
    border: 0px;
    position: relative; right: 10px;
}
#srch{
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    margin-left: 0px;
    border: 0px;
    position: relative; left: 280px; top: 9px;
    width: 40px;
    height: 30px;
  }#srch-bar{
    position: relative ; top: -3px; right: 30px;
    width: 300px;
  }#srch:hover{
    cursor: pointer;
}