#logo{
    width: 70px;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 30px;
    font-family:fantasy;
    padding-right: 80px;
    color: darkslategray;
    margin: 0;
}
#nav{
    size: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background: #99bdb2;
    box-shadow: 0 5px 15px rgba(61, 60, 55, 0.836);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 500;
    
}
#navbar{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content:center;
    margin: 0;
    position: relative;
    
}
#navbar li{
    padding: 0 20px;
    position: relative;
    margin: 0;
    border-right: 1px dotted white ;
}
#navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
    transition: 0.2s ease;
    position: relative;
}
#navbar li a:hover,
#navbar li a.active{
    color:#088178;
    background: #fcfcfc;
    border-radius: 8px;
}
 #navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    position: absolute;
    background: #088178;
    height: 2px;
    bottom: -4px;
    left: 20px;
} 
 #navbar input[type=text]{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

ul li ul {
  width: 110px;
  background-color: #99bdb2;
  background-size: contain;
  margin-right: 10px;
  display: none;
  
}
ul li ul li{
  list-style-type: none;
  border-bottom: 1px dotted white ;
  height: 40px;
}

ul li:hover ul{
  display: block;
  position: absolute;
  margin-right: 20px;
  
}
#sub-menu {
  z-index: 300;
}


#s2{
    background-image: url('Home_pic.png') ;;
    background-position: top 0 left 25%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    color:black;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: -100;
    
}
h2{
    font-size: 35px;
    font-family:'Courier New', Courier, monospace;
    
    font-style: italic;
    margin: 0;
    
}
h3{
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    
    font-style: italic;
    
    margin: 0%;
    
}
h4{
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    color: #93c7c3;
    margin: 0%;
    
}
h5{
    font-size: 28px;
    padding-top: 40px;
    margin: 0;
    padding-left:  5px;  
    font-style: italic;
}
#d1{
padding: 0 20px;
}
#d2{
    position: absolute;
    
    left: 100px;
    font-size: 100px;
}
#b1{
    border: 3px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #77beba;
    background-size: contain;
    font-size: 30px;
}
#a1:hover{
    color: white;
    font-size: 40px;
}
#a1{
    text-decoration: none;
    color: #088178;
    font-weight: 600;
    transition-duration: 0.4s;
}
#d3{
  
  position: absolute;
  display:block;
  left: 12%;
  top: 1000px;
  font-size: 100px;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: 0px;
  background-color: #eef06b;
  background-size: contain;
}
#d4{
  
  position: absolute;
  display:block;
  left: 38%;
  top: 1000px;
  font-size: 80px;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: 0px;
  background-color: #eef06b;
  background-size: contain;
}
#d5{
  
  position: absolute;
  display:block;
  left: 67%;
  top: 1000px;
  font-size: 100px;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: 0px;
  background-color: #eef06b;
  background-size: contain;
}
#d6{
  position: absolute;
  width: 150px;
  left: 100px;
  font-size: 60px;
}
#img2{
    
    width: 40px;
    height: 40px;
}
#img1{
    width: 120px;
    height: 60px;
}
#img3{
  
  outline: white;
  outline:solid;
  border: 3px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #77beba;
  background-size: 110%  ;
    
  position: relative;
  left: 10%;
  margin-top: 100px;
  }
#img3:hover{
  filter: opacity(10%);
}
#img4{
  outline: white;
  outline:solid;
  border: 3px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #77beba;
  background-size: 110%  ;
    
  position: relative;
  left: 15%;
  margin-top: 100px;
}
#img4:hover{
  filter: opacity(10%);
}
#img5{
  outline: white;
  outline:solid;
  border: 3px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #77beba;
  background-size: 110%  ;
    
  position: relative;
  left: 20%;
  margin-top: 100px;
}
#img5:hover{
  filter: opacity(10%);
}
#sec2{
  padding-bottom: 100px;
    padding-left: 100px; 
    background-image: url(https://img.freepik.com/premium-photo/gray-calathea-lutea-leaf-patterned-background_53876-149681.jpg?w=2000);
    background-repeat: no-repeat;
    background-size:cover;
}
#button1{
    transition-duration: 0.4s;
    background-color: #77beba;
    width: 100px;
    height: 50px;
    
    font-size: 15px;
    font-weight: 600;
    border-width: 1px;
}
#button1:hover{
    color: white;
}
#last{
  size: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:10px 30px ;
  background: #ffffff;
  z-index: 500;
  display: flex;
    list-style: none;
    padding-right: 250px;
    justify-content:center;
    margin: 0;
    position: relative;
}
#last li{
  padding: 0 200px;
    position: relative;
    
    border-right: 1px dotted rgb(0, 0, 0) ;
}
#last li p{
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: black;
  transition: 0.2s ease;
  position: relative;
}


/* ....................................................slide show...................................................... */


  
  /* Slideshow container */
  #slideshow-container {
    background-image: url("images2.jpg");
    position: relative;
    background-size: 100% 100%;
    width: 55%;
    height: 50%;
    outline: #717171 ;
    outline-style: solid;
    max-width: 500px;
    margin: 0 0 50px 800px;
    box-shadow: 1px 2px 10px 5px white;
    animation: slider 10s infinite linear;
    z-index: 100;
    
  }
  @keyframes slider{
    0%{background-image: url("img1.jpg");}
    25%{background-image: url("img2.webp");}
    50%{background-image: url("img3.jpg");}
    

  }
  
  /* Hide the images by default */
  #mySlides {
    width: 100%;
    height: 200%;
    display:none; 
  }
  
  /* Next & previous buttons */
  .prev, 
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 16%;
    border-radius: 3px 0 0 3px;
    
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
   .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  
  
  /* Number text (1/3 etc) */
  /* .numbertext {
    color: #ffffff;
    font-size: 30px;
    padding:8px 12px;
    
    
  } */
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  #dot{
    margin: 0 0 100px 1000px;
  }
  
  #dot1.active,
   #dot1.dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
 /* .fade{
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
     from {opacity: 0.4} to {opacity: 1}
    }  */
  


