

body{
    background-image: url(https://img.freepik.com/premium-photo/gray-calathea-lutea-leaf-patterned-background_53876-149681.jpg?w=2000);
    background-repeat: no-repeat;
    background-size:cover;
}
h2{
    font-size: 42px;
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
}
h3{
    font-size: 30px;
    font-weight: 600;
    color: #088178;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#s2{
    text-align: center;
    padding-top: 100px;
}
#l1{
    font-weight: 700;
    font-size: 16px;
}
#l2{
    font-weight: 700;
    font-size: 16px;
}

#i1{
    margin: 5px;
}
#i2{
    margin: 5px;
}
#b{
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
    transition-duration: 0.4s;
    background-color: #77beba;
    width: 200px;
    height: 40px;
    margin: 20px;
    font-size: 15px;
    font-weight: 600;
    border-width: 1px;
}
#b:hover{
    color: white;
}
#p1{
    font-weight: 800;
}
#a1{
    font-weight: 600;
}
#d3{

    padding-bottom:  30px; 
}
#d4{
    padding-bottom: 40px;
}
.fa-facebook:hover {
    color: #4267b3 !important;
}

.fa-twitter:hover {
    color: #1da1f2 !important;
}

.fa-instagram:hover {
    color: #ce2b94 !important;
}

.fa-invision:hover {
    color: #f83263 !important;
}

.fa-github:hover {
    color: #161414 !important;
}

.fa-whatsapp:hover {
    color: #25d366 !important;
}

.fa-snapchat:hover {
    color: #fffb01 !important;
}
#V10{
    margin-top: 20px;
    display: none;
    color: red;     
}
#f10 {
    position: relative;
    
    align-items:center;
    margin-left: 30px;
}
#V11{
    margin-top: 20px;
    display: none;
    color: red;     
}
#f11 {
    position: relative;
    align-items:center;
    margin-left: 30px;
}
#f0{
    font-size: 25px;
    color: red;
    font-weight: 400;
}
#e1{
    font-size: 25px;
    font-weight: 400;
    color: red;
}
