body{
    background-image: url('https://img.freepik.com/premium-photo/gray-calathea-lutea-leaf-patterned-background_53876-149681.jpg?w=2000');
    background-repeat: no-repeat;
    background-size:cover;
}

h1{
    font-size: 30px;
    font-family:fantasy;
    padding-right: 80px;
    color: darkslategray;
    margin: 0;
}
#s2{
    background-image: url('Home_pic.png') ;;
    background-position: top 0 left 25%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    color:black;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: -100;
    
}
h2{
    font-size: 35px;
    font-family:'Courier New', Courier, monospace;
    
    font-style: italic;
    margin: 0;
    
}
h3{
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    
    font-style: italic;
    
    margin: 0%;
    
}
h4{
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    color: #93c7c3;
    margin: 0%;
    
}
h5{
    font-size: 28px;
    padding-top: 40px;
    margin: 0;
    padding-left:  5px;  
    font-style: italic;
}
#d1{
padding: 0 20px;
}
#d2{
    position: fixed;
    left: 100px;
    font-size: 100px;
}
#b1{
    border: 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #77beba;
    font-size: 17px;
}
#a1:hover{
    color: white;
}
#a1{
    text-decoration: none;
    color: #088178;
    font-weight: 600;
    transition-duration: 0.4s;
}
#img2{
    width: 40px;
    height: 40px;
}
#img1{
    width: 120px;
    height: 60px;
}
#button1{
    transition-duration: 0.4s;
    background-color: #77beba;
    width: 100px;
    height: 50px;
    
    font-size: 15px;
    font-weight: 600;
    border-width: 1px;
}
#button1:hover{
    color: white;
}



.menu{
    position: relative;
    top: 100px;
    left: 0;
    background-color: #ffffff;
    width: 20px;
    
}
#menu-list{
    list-style-type: none;
    display: inline;
    width: 800px;
    height: 800px;
    position: relative; left:70px;
}
#menu-list li{
    display: inline-block;
    margin-right: 10px;

}
.menu{
    margin: auto;
    width: 65%;
  padding: 0px;
  padding-bottom: 0%;
}
#list{
    padding: 0px;

}.menu-btn{
    cursor: pointer;
    border: none;
    background: none;
    padding: none;
    background-color: transparent;
        height: 50px;
        width: 250px;
        color: #000000;
        font-size: 1.5em;

}#list button:hover{
    color: #ffffff;
}
.items{
m
}#items-list li{
    display: inline-block;
    float: left;
    padding: 0px;
}#items-list{
    padding-top: 200px;
    margin-left: 425px;
    
}.item-head{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    background-color: #ffffff;
    padding-top: 5px;
}.item-lis{
    background-color: white;
}
#content{
    height: 800px;
}
.men-sub{
    
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: -150px;
    margin-left: 319px;
    padding-left: 50px;
    border: 0%;
    width: 400px;
    background-color: #000000;
    position: absolute;bottom: 400px;left: 29px;
}.men-sub > p {
margin-left: 200px;
padding: 0%;
color: white;
}
.women-sub{
        display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: -150px;
    margin-left: 530px;
    padding-left: 50px;
    border: 0%;
    width: 400px;
    background-color: #000000;
    position: absolute;bottom: 400px;
}.women-sub > p {
margin-left: 200px;
padding: 0%;
color: white;
}.kids-sub{
        display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: -150px;
    margin-left: 747px;
    padding-left: 50px;
    border: 0%;
    width: 400px;
    background-color: #000000;
    position: absolute;bottom: 400px;
}.kids-sub > p {
margin-left: 200px;
padding: 0%;
color: white;
}
.prev{
    position: relative; right: 700px; top: 200px;
}
.next{
    position: relative; left: 10px; top: 200px;
}

