

body{
    background-image: url(https://img.freepik.com/premium-photo/gray-calathea-lutea-leaf-patterned-background_53876-149681.jpg?w=2000);
    background-repeat: no-repeat;
    background-size:cover;
}
#hed{

    font-size: 40px;
    font-weight: 900;
    font-family:'Times New Roman', Times, serif;
    
}
#p1{
    font-size: 24px;
    font-weight: 300;
    color: #088178;
}   
#s1{
    text-align: center;
    padding-top: 60px;
}
    

#hr1{
    width: 13%;
}
#d2{
    margin-top: 15px ;
    margin-left: 5px;
}
#d3{
    margin-top: 15px ;
    margin-left: 5px;
}
#d4{
    margin-top: 15px ;
    margin-left: 4px;
}
#d5{
    margin-top: 15px ;
}
#d6{
    margin-top: 15px;
}
#d7{
    margin-top: 15px ;
}

#b{
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
    transition-duration: 0.4s;
    background-color: #77beba;
    width: 200px;
    height: 40px;
    margin: 20px;
    font-size: 15px;
    font-weight: 600;
    border-width: 1px;
    margin-top: 27px;
}
#l1{
    font-weight: 700;
    font-size: 16px;
}
#b:hover{
    color: white;
}
#p1{
    font-weight: 800;
}
#a1{
    font-weight: 600;
}
#d6{
    padding-bottom: 20px;
}
.fa-facebook:hover {
    color: #4267b3 !important;
}

.fa-twitter:hover {
    color: #1da1f2 !important;
}

.fa-instagram:hover {
    color: #ce2b94 !important;
}

.fa-invision:hover {
    color: #f83263 !important;
}

.fa-github:hover {
    color: #161414 !important;
}

.fa-whatsapp:hover {
    color: #25d366 !important;
}

.fa-snapchat:hover {
    color: #fffb01 !important;
} 
#V10{
    margin-top: 20px;
    display: none;
    color: red;     
}
#f10 {
    position: relative;
    display: flex;
    align-items:center;
    margin-left: 567px;
}
#V11{
    margin-top: 20px;
    display: none;
    color: red;     
}
#f11 {
    position: relative;
    display: flex;
    align-items:center;
    margin-left: 567px;
}#V12{
    margin-top: 20px;
    display: none;
    color: red;     
}
#f12 {
    position: relative;
    display: flex;
    align-items:center;
    margin-left: 567px;
}#V13{
    margin-top: 20px;
    display: none;
    color: red;     
}
#f13 {
    position: relative;
    display: flex;
    align-items:center;
    margin-left: 567px;
}#V14{
    margin-top: 20px;
    display: none;
    color: red;     
}
#f14 {
    position: relative;
    display: flex;
    align-items:center;
    margin-left: 567px;
}
#V15{
    margin-top: 20px;
    display: none;
    color: red;     
}
#f15 {
    position: relative;
    display: flex;
    align-items:center;
    margin-left: 567px;
}

